:root{
    --dark1: #1a1a1a;
    --dark2: #2b2b2b;
    --dark3: #3c3c3c;
    --dark4: #4d4d4d;
    --dark5: #5e5e5e;
    --light1: #fafafa;
    --light2: #f5f5f5;
    --light3: #eeeeee;
    --light4: #ebebeb;
    --light5: #e8e8e8;
}
body{
    background-color: var(--dark1);
    color: var(--light5);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 50px;
}